 form {
        text-align:center;
        border: 2px solid;
        margin: auto;
        width: 440px;
        font-size: 35px;
        font-family:fonte2;
        background:rgb(245, 218, 218);
      }

      input {
         background-color: rgb(209, 155, 155);
         opacity: 0.8;
         font-size: 15px;
         color: black;
         font-weight: bold;
         width: 100%;
         padding: 10px;
         margin-bottom: 10px;
         box-sizing: border-box;
     }


@font-face {
    font-family:fonte;
    src: url(DTM-Mono.otf);}

@font-face {
    font-family:fonte2;
    src: url(DTM-Sans.otf);}

    h1{
        font-size: 60px;
        font-family:fonte;
        text-align:center;
        background-size: 100% 100%;
        background: radial-gradient(rgb(209, 155, 155), transparent);
        opacity: 1.0;
        
     }

     h4{
        font-family:fonte;
        text-align:center;
        background: radial-gradient(rgb(209, 155, 155), transparent);
        font-size: 30px;
     }
     h6{
      font-family:fonte;
      text-align:center;
      background: radial-gradient(rgb(209, 155, 155), transparent);
      font-size: 18px;
   }

     input{
        background-color:rgb(209, 155, 155) ;
        opacity: 0.8;
        font-size: 15px;
        color: black;
        font-weight: bold;
     }

     #nome{
        font-family:fonte;
     }

     body, .form-all {
        margin-top: 0;
        background: none;
    }

    
    html {
         min-height: 100%;
         background-image: url(capa5.jpg); 
         background-size:cover;
         background-repeat: no-repeat;
         zoom: 90%
     }

     .botoes button {
	   border: 2px solid black;
      width: 30%;
      height: 15%;
      font-family:fonte;
      background-color: rgb(240, 240, 246);
      color:rgb(0, 0, 0);
      cursor:pointer;
      }
      
      .banco-bt {
         border: 2px solid black;
         border-bottom: 150px;
         width:15%;
         font-family:fonte;
         background-color: rgb(209, 209, 230);
         color:whitesmoke;
         cursor:pointer;
         }

      button:hover {
        
         background-color:rgb(209, 155, 155);
         cursor:pointer;
         }


     a {
         text-decoration: none;
     }

      @media screen and (max-width: 768px) {
         input {
             font-size: 14px;
         }
         button {
            width: 100%; /* Preenche a largura da tela */
            margin: 10px 0; /* Remove as margens verticais para economizar espaço */
        }
     }
     
     
     
     
     
